{%extends 'base.html'%}

{%block content%}
{% for message in messages %}

<div class="alert alert-{{message.tags}} alert-dismissable fade show" role = "alert">
<strong>Message</strong> {{message}}
<button class="btn btn-primary" type="button" class="close" data-dismiss="alert" area-label="Close">
<span aria-hidden="true">&times;</span>
</button>
</div>
{%endfor%}

<h3>Sign up</h3>
<form class="row g-3" action="/signup" method="POST">
    {%csrf_token%}
    <div class="col-md-4">
        <input type="text" class="form-control" placeholder="First name" aria-label="First name" name="fname">      
    </div>
    <div class="col-md-4">
        <input type="text" class="form-control" placeholder="Last name" aria-label="Last name" name="lname">
    </div>
    <div class="col-md-4">        
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email address" name="email">
        <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
    </div>
    <div class="col-md-4">
        <label class="form-label">User Name</label>
        <input type="text" class="form-control" placeholder="Enter User Name" aria-label="Last name" name="username">
    </div>
    
    <div class="col-md-4">
        <label for="exampleInputPassword1" class="form-label">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="password">
    </div>
    <!-- <div class="col-md-4">
        <label for="exampleInputPassword1" class="form-label">Confirm Password</label>
        <input type="password" class="form-control" id="exampleInputPassword1" name="cpassword">
    </div> -->
   
    <div class="col-12">
      <button  type="submit" name="submit">Sign Up</button>
    </div>
  </form>
{%endblock%}